// Mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin transition($transition){
     -webkit-transition: $transition;
     -khtml-transition: $transition;
     -moz-transition: $transition;
     -ms-transition: $transition;
     -o-transition: $transition;
     transition: $transition;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
