// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$screen-sm-min  : "min-width: 400px" !default;
$screen-sm-max  : "max-width: 525px" !default;
$screen-md-min  : "min-width: 767px" !default;
$screen-lg-min  : "min-width: 1000px" !default;
$screen-xl-min  : "min-width: 1200px" !default;

// Colors
$light-grey: #BDC3C7 !default;
$dark-grey: #7F8C9A !default;
$primary-color: #3498DB !default;
$secondary-color: #2980b9 !default;
$border-color: #bbb !default;
$link-color: #3498DB !default;
$font-color: #FFFFFF !default;
$background-color: #2d3e4f !default;

// Typography
$font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
